{
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"decorators": true
		},
		"target": "es2020",
		"paths": {
			"#lib/*": ["./lib/*"],
			"#assets/*": ["./assets/*"]
		},
		"baseUrl": "./src"
	},

	"module": {
		"type": "commonjs"
	}
}
